.de_container {
    margin-top: 20px;
}
.crumb_wrap {
    height: 25px;
    line-height: 25px;
}
.crumb_wrap a {
    margin-right: 10px;
}
.preview_wrap {
    width: 400px;
    height: 590px;
}
.itemInfo_wrap {
    width: 720px;
    background-color: purple;
}
.preview_img {
    height: 398px;
    border: 1px solid #ccc;
}
.preview_list {
    position: relative;
    height: 60px;
    margin-top: 60px;
}
.list_item {
    width: 320px;
    height: 60px;
    margin: 0 auto;
}
.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    margin: 0 2px;
    border: 2px solid transparent;
}
.list_item li.current {
    border: 2px solid red;
}
.list_item li:hover {
    border: 2px solid red;
}
.arrow_prev,
.arrow_next {
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
    background-color: pink;
}
.arrow_prev {
    left: 0;
    background: url(../img/arrow-prev.png);
}
.arrow_next {
    right: 0;
    background: url(../img/arrow-next.png);
}