.de_container {
    margin-top: 20px;
}
.crumb_wrap {
    height: 25px;
    line-height: 25px;
}
.crumb_wrap a {
    margin-right: 10px;
}
.preview_wrap {
    width: 400px;
    height: 590px;
}
.itemInfo_wrap {
    width: 720px;
    background-color: purple;
}
.preview_img {
    height: 398px;
    border: 1px solid #ccc;
}
.preview_list {
    height: 60px;
    margin-top: 60px;
}